{% extends 'layouts/base.html' %}

{% block title %}FAQ Questions{% endblock %}
{% block heading %}<h2>FAQ</h2>{% endblock %}

{% block body %}
<h4>The first Question which is Frequently asked is?</h4>
   <p>
      By using the Snake Eyes ("service"), you are agreeing to be bound by the
      following terms and conditions ("terms of service").
 </p>
<h4>The first Question which is Frequently asked is?</h4>
   <p>
      By using the Snake Eyes ("service"), you are agreeing to be bound by the
      following terms and conditions ("terms of service").
 </p>
<h4>The first Question which is Frequently asked is?</h4>
   <p>
      By using the Snake Eyes ("service"), you are agreeing to be bound by the
      following terms and conditions ("terms of service").
 </p>
<h4>The first Question which is Frequently asked is?</h4>
   <p>
      By using the Snake Eyes ("service"), you are agreeing to be bound by the
      following terms and conditions ("terms of service").
 </p>
{% endblock %}